
<div class="container-fluid py-5 bg-secondary m-5 mr-6">
  <h3 class="display-7 fw-bold">
    <%= contact.name + " " + contact.lastname %>
  </h3>
        
        <div id="<%= dom_id contact %>" class="card col-md-6 fs-5 m-3">

  <table class="table m-3">

    <tr>
      <td>Name:</td>
      <td><%= contact.name %></td>
    </tr>

    <tr>
      <td>Lastname:</td>
      <td><%= contact.lastname %></td>
    </tr>

    <tr>
      <td>Email:</td>
      <td><%= contact.email %></td>
    </tr>

    <tr>
      <td>Phone:</td>
      <td><%= contact.phone %></td>
    </tr>

    <tr>
      <td>Org:</td>
      <td><%= contact.org %></td>
    </tr>

  </table>

</div>


        <button class="btn btn-primary btn-lg" type="button">Example button</button>
</div>

