<div class="content m-4">

  <div class="mb-3">

    <p style="color: green"><%= notice %></p>
    <strong>Contacts</strong> <%= link_to "Add", new_contact_path %>

  </div>


<div id="contacts">
  <table class="table table-bordered table-striped">

    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Org</th>
        <th>Action</th>
      </tr>
    </thead>



  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.lastname %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
      <td><%= contact.org %></td>
      <td><%= link_to "Show", contact %></td>
    </tr>
  <% end %>

  </table>
</div>

</div>
